.sec_heading h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.live-session-title {
  color: #000 !important;
}
.bg-dark .live-session-title {
  color: #ffff !important;
}
.bg-dark .session-card {
  background-color: #212529;
}

.lock-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.session-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  align-items: center;
  gap: 15px;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.thumbnail-container {
  position: relative;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 28px;
  cursor: pointer;
  z-index: 2;
  transition: background 0.3s ease;
}

.play-button:hover {
  background: rgba(255, 255, 255, 1);
}

.session-card:hover {
  cursor: pointer;
}

.session-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.session-content {
  flex: 1;
}

.session-title {
  font-size: 18px;
  font-weight: bold;
}

.session-host {
  font-size: 14px;
  color: gray;
}

.session-time {
  font-size: 14px;
  color: #007bff;
}
