/* progressbar.css */

.circular-progress {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
  .circular-progress:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
  
.progress_container {
  background: linear-gradient(90deg, #002c43, #a72169);
}
  /* background: linear-gradient(to right, #002C43, #001A30); */

  
  .outer-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 20px;
    background: #d3d3d3; /* Gray background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .inner-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
  }
  
  .percentage {
    font-size: 32px;
    font-weight: 500;
    color: #6B7280;
  }
  
  .percent-symbol {
    font-size: 18px;
    vertical-align: super;
  }
  
  .progress-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: conic-gradient(var(--color) 0% calc(var(--percentage) * 1%), transparent calc(var(--percentage) * 1%) 100%);
    mask: radial-gradient(transparent 55px, black 55px);
    -webkit-mask: radial-gradient(transparent 55px, black 55px);
  }
  .circular-progress h4 {
    text-align: center;
  }
 
  
  /* Optional: Add responsive sizing */
  @media (max-width: 768px) {
    .circular-progress, .outer-circle, .progress-circle {
      width: 120px;
      height: 120px;
    }
    
    .percentage {
      font-size: 24px;
    }
    
    .percent-symbol {
      font-size: 14px;
    }
    
    .progress-circle {
      mask: radial-gradient(transparent 43px, black 43px);
      -webkit-mask: radial-gradient(transparent 43px, black 43px);
    }
  }



  